.main{
    flex: 80%;
    background-color: white;
    padding: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 5%;
    background-color: #f1f1f1;
    padding: 10px;

}

#drop :first-child
{
color:gray;
}
